
.catalog-slider {
    min-height: 700px;
    position: relative;

    .slick-slide {
        width: 50%;
        margin: 0 21px;
    }
    .slick-slide .slide {
        position: relative;
        height: auto;
        width: 50%;
        margin: 0 auto;
        box-shadow: 0px 0px 10px -2px rgba(255, 255, 255, 0.2);

        img {
            margin: 0 auto;
            width: 100%;
        }

        >div {
            width: auto;
        }
    }

    .slick-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background: none;
        border: none;
        color: transparent;
        outline: none;
        cursor: pointer;

        &.slick-prev {
            left: -100px;
            transform: translate(-50%, -50%) rotate(135deg);
        }
        &.slick-next {
            right: -100px;
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        &:before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: #fdfdfd;
            border-radius: 50%;
            opacity: .6;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            border: solid black;
            border-width: 0 4px 4px 0;
            display: inline-block;
            padding: 4px;
        }

        &:hover:before {
            opacity: 1;
        }
    }

}
.additional-slider-controls {
    position: relative;
    .go-to-first, .go-to-last {
        font-size: 20px;
        font-family: Monospaced;
        border: none;
        background: rgba(253, 253, 253, 0.8);
        height: 40px;
        line-height: 40px;
        width: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
        cursor: pointer;
        transition: background-color .2s;

        &:hover {
            background: #fafafa;
        }
    }
    .go-to-last {
        left: auto;
        right: 0;
    }
}
